body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
button{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color:  #415c31e0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: bottom;
    height: 30px;
    width: 50px;
    margin: 1%;
    text-align: center;
}
.add{
    width: 100%;
    background-color: #253517bd;
}
.board {
    display: flex;
    height: 100vh;
    width: 100vw; 
    background-color: #365f21d0;
}
.column {
    flex: 3; 
    display: flex;
    flex-direction: column;
    border-right: 15px solid #253517bd;
    padding: 20px;

}

.column h2 {
    text-align: center;
    color: #ffffffbd;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    margin-top: 0;
}

.task-list {
    flex-grow: 1;
    background-color: rgba(37, 7, 9, 0.363);
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
    border: 1px dashed #e4e4e4;
    text-align: center;
    
}
.card{
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.card h1{
    font-size: 18px;
    margin: 0 0 5px 0;
    text-align: center;
}
.signature{
    font-size: 12px;
    text-align: right;
    color: #440d0d;
}
.buttoncontainer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}